## Exploratory Data Analysis with a Real Dataset using Pandas

<center><img src="data\images\data.png" alt="Relation of data, information and intelligence" title="Relation of data, information and intelligence" style="width: 600px;"/></center>

In statistics, *exploratory data analysis (EDA)* is an approach to analyzing data sets to summarize their main characteristics, often with visual methods. A statistical model can be used or not, but primarily EDA is for seeing what the data can tell us beyond the formal modeling or hypothesis testing task. Exploratory data analysis was promoted by John Tukey to encourage statisticians to explore the data, and possibly formulate hypotheses that could lead to new data collection and experiments. EDA is different from *initial data analysis (IDA)*, which focuses more narrowly on checking assumptions required for model fitting and hypothesis testing, and handling missing values and making transformations of variables as needed. EDA encompasses IDA. 

Sometimes, when facing a Data problem, we must first dive into the Dataset and learn about it. Its properties, its distributions â€” we need to immerse in the domain.

As a geeky programmer with poor sense of aesthetics, I've found `Seaborn` to be an awesome visualization tool whenever I need to get a point across.

It uses `Matplotlib` under the hood, but sets graphics up with default style values that make them look a lot prettier than I could ever manage to make them. We'll take a look at a Dataset, and I'll try to give you an intuition of how to look at different features. Who knows, maybe we'll actually gain some insights from this!

Using the 120 years of Olympics Dataset, which you can download for free from [Kaggle](https://www.kaggle.com/), an awesome site if you need to get a Dataset to try out some new Machine Learning algorithm, or just have a bit of fun.

The `athlete_events.csv` file, which has a row for every competitor on every Olympics game since 1900, with their country of birth, whether they obtained a medal, etc. As an interesting fact, the medals column is 85% empty, so on average only about 15% of Olympics Athletes actually get a medal. Add to that that some Athletes get more than one, and it shows how an even narrower quantity of the already few Olympic level athletes actually earn a medal. All the more credit to them!

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"]=[4,2]

import seaborn as sns
import utsbootcamp as bc

## Read data

In [ ]:
df = pd.read_csv('data/athlete_events.csv')
df.shape

In [ ]:
df.head(6) # Quick glance at the dataset

In [ ]:
list(df) # List of column names

## Basic plots

### Histograms for single variables

In [ ]:
sns.histplot(df.Weight.dropna(),bins=30)  # Weight distribution of athletes
plt.show()                        # silent plot

In [ ]:
sns.histplot(df.Weight.dropna(),bins=50,kde=True)

In [ ]:
sns.displot(df[df.Sex=='F'].Weight.dropna())
plt.show()

In [ ]:
sns.histplot(df[(df.Sex=='M') & (df.Sport=='Tug-Of-War')].Weight.dropna(),kde=True)
plt.show()

In [ ]:
check_df=df[(df.Sex=='M') & (df.Sport=='Tug-Of-War')]

In [ ]:
check_df.tail(10)

In [ ]:
sns.histplot(df[df.Sex=='M'].Weight.dropna(),bins=30,kde=True)
plt.show()

### Contrast several variables in a single histogram

<font size="6"> <font color=blue> (</font> <font color=Crimson> Plot1</font> ,  <font color=Crimson> Plot2</font> <font color=blue> )</font> </font>

In [ ]:
(sns.kdeplot(df[df.Sex=='F'].Weight.dropna()),
 sns.kdeplot(df[df.Sex=='M'].Weight.dropna()))
plt.show()

In [ ]:
(sns.kdeplot(df[df.Sport=='Speed Skating'].Weight.dropna(),fill=True),
 sns.kdeplot(df[df.Sport=='Tug-Of-War'].Weight.dropna(),fill=True))
plt.show()

> <font color=DeepPink>Exercise</font>: <br>
> What can you tell about the means of the two distributions above? Can you infer they are statistically significantly different?

#### Choosing number of bins

In [ ]:
sns.displot(df.Age.dropna(),kde=True); plt.show()

In [ ]:
sns.displot(df.Age.dropna(),bins=80,kde=True); plt.show()

In [ ]:
(sns.kdeplot(df[df.Sex=='F'].Age.dropna(),fill=True),
 sns.kdeplot(df[df.Sex=='M'].Age.dropna(),fill=True))
plt.show()

In [ ]:
(sns.kdeplot(df[df.Sex=='F'].Height.dropna(),fill=True),
 sns.kdeplot(df[df.Sex=='M'].Height.dropna(),fill=True))
plt.show()

#### Adding a legend

In [ ]:
(sns.kdeplot(df[df.Sex=='F'].Height.dropna(),fill=True,label='Female'),
 sns.kdeplot(df[df.Sex=='M'].Height.dropna(),fill=True,label='Male'))
plt.legend(loc="upper left")
plt.show()

There are 271,115 data entries. What are the different types of sport in the Olympics?

## Analysing datasets

### Unique values

In [ ]:
df.Sport

In [ ]:
df.Sport.unique()

In [ ]:
df.Sport.unique().shape

In [ ]:
df.Sport.value_counts() # try using 'normalize' option, e.g., value_counts(normalize=True)

In [ ]:
plt.rcParams["figure.figsize"]=[14,12]
nBins=25


(sns.kdeplot(df[(df.Sex=='F') & (df.Sport=='Swimming')].Height.dropna(),fill=True,label='Female'),
 sns.kdeplot(df[(df.Sex=='M') & (df.Sport=='Swimming')].Height.dropna(),fill=True,label='Male'),
 sns.kdeplot(df[df.Sport=='Swimming'].Height.dropna(),fill=True,label='All')); 
plt.legend(loc="upper right")
plt.show()

### Missing values

In [ ]:
def NaN_percent(df, column_name):
    row_count = df[column_name].shape[0]
    empty_values = row_count - df[column_name].count() # we rely on the difference in shape and .count() methods
    return (100.0*empty_values)/row_count

In [ ]:
NaN_percent(df, 'Weight')

In [ ]:
for i in list(df):
    print(i +': ' + str(NaN_percent(df,i))+'%')

> <font color=DeepPink>Exercise 1</font>: <br>
> Format and align the output. Use the cell below to try:

In [ ]:
for i in list(df):
    print(f"{i}: {NaN_percent(df,i)}%")

One question we could ask is **how many different people won medals since 1900**? The following snippet answers the question:

In [ ]:
print(f'Unique number of athletes (by names): {len(df.Name.unique())}')

In [ ]:
print(f'Unique number of athletes (by ID): {len(df.ID.unique())}')

The number of unique names and the number of unique IDs **do not match**? Why?

***
How to identify which entries are problematic? The code below is too advanced for now, but flag it and come back to it during your Econometrics course.

*In English*:
> For each unique name in the database (`df.Name.unique()`), check the IDs associated with each of those names `df.ID.loc[df.Name==i]`, consider only the unique ID values for a specific name (`.unique`) and if it is more than one (`.shape[0]!=1`), report the IDs that are different but have identical names for Olympic Athletes.

In [ ]:
# WARNING: Takes too long to execute (large database)
# too advanced for now, flag it and come back a few weeks later
for i in df.Name.unique():
    if df.ID.loc[df.Name==i].unique().shape[0]!=1:
        print(df.ID.loc[df.Name==i].unique())

***

In [ ]:
total_rows = df.shape[0] # Total number of entries (all athletes, in all years, multiple entries)
unique_athletes = len(df.ID.unique()) # Only unique athletes
medal_winners = len(df[df.Medal.fillna('None')!='None'].ID.unique()) # Non-empty medal entries with unique athlete IDs

"{0} {1} {2}".format(total_rows, unique_athletes, medal_winners)

In [ ]:
print(f'Total is {total_rows} of which {unique_athletes} are unique athletes with only {medal_winners} ever getting medals.')

As you see, almost 135 thousand different people have competed on the Olympic games in the last 120 years, but only a little over 28 thousand have earned at least one medal.

Now that we're at it, how many medals have actually been earned throughout these 120 years?

In [ ]:
df[df.Medal.fillna('None')!='None'].shape[0]

### Value counts (`value_counts`)
Use `.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)`

In [ ]:
print(df.Medal.value_counts())

In [ ]:
print(df.Medal.value_counts(normalize=True))

In [ ]:
print(df.Medal.value_counts(normalize=True,dropna=False))

In [ ]:
print(df[df.Medal.fillna('None')!='None'].Medal.value_counts())

### Use of `na_values` parameter in `read_csv()` function of Pandas

In the previous examples, we relied on Pandas flexibility and automation. When we read CSV with `.read_csv()`, most of the work has been done for us, based on common data types, and frequently used choices. If your data file is special, you may want to explore and tweak some of the default options.

`na_values`: This is used to create a string that considers pandas as `NaN` (Not a Number). By-default pandas consider `#N/A`, `-NaN`, `-n/a`, `N/A`, `NA`, `NULL` etc as `NaN` value. 

For more information on `na_values` and other parameters of `read_csv()` see [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

## Grouping data

In [ ]:
team_medal_count = df.groupby(['Team','Medal']).Medal.agg('count')
team_medal_count = team_medal_count.reset_index(name='count').sort_values(['count'], ascending=False) # try reversing order
team_medal_count.head(10)

In [ ]:
def get_country_stats(country):
    return team_medal_count[team_medal_count.Team==country]

In [ ]:
get_country_stats('Australia')

In [ ]:
get_country_stats('cANadA')

> <font color=red>**Homework**</font>: Make `get_country_stats` function case-insensitive.

List year(s) when a team won at least one medal:

In [ ]:
df[df.Team=='Croatia'].Year#.unique()

In [ ]:
unique_women = len(df[df.Sex=='F'].Name.unique())
unique_men = len(df[df.Sex=='M'].Name.unique())
women_medals = df[df.Sex=='F'].Medal.count()
men_medals = df[df.Sex=='M'].Medal.count()

print("{} {} {} {} ".format(unique_women, unique_men, women_medals, men_medals ))

df[df.Sex=='F'].Year.min()

> <font color=blue>Women in the Olympics:</font> The first Olympic Games to feature female athletes was the 1900 Games in Paris. [link](https://en.wikipedia.org/wiki/Participation_of_women_in_the_Olympics)

In [ ]:
plt.rcParams["figure.figsize"]=[10,4]

In [ ]:
female = df[df.Sex=='F']
year_count = female.groupby('Year').agg('count')
years = list(year_count.index)
counts =  list(year_count.Name)
sns.scatterplot(x = years, y = counts)
plt.show()

In [ ]:
f_year_count = df[df.Sex=='F'].groupby('Year').agg('count').Name
m_year_count = df[df.Sex=='M'].groupby('Year').agg('count').Name

(sns.scatterplot(data= m_year_count),
 sns.scatterplot(data =f_year_count))
plt.show()

# vs.

(sns.scatterplot(data= m_year_count,label='Male'),
 sns.scatterplot(data =f_year_count,label='Female'))
plt.legend(loc="upper left")
plt.show()

> <font color=DeepPink>Exercise</font>: What happened at around 1995? Why does the plot doubles?

In [ ]:
df.Sport.value_counts()

In [ ]:
male_df = df[df.Sex=='M']
sport_weight_height_metrics = male_df.groupby(['Sport'])[['Weight','Height']].agg(['min','max','mean'])
sport_weight_height_metrics

In [ ]:
sport_weight_height_metrics.Weight.dropna().sort_values('mean', ascending=False) #ascending=True? Sort by mean?

In [ ]:
sport_weight_height_metrics.Height.dropna().sort_values('mean', ascending=False)

In [ ]:
sns.displot(sport_weight_height_metrics.Height.dropna()['mean'],bins=15,kde=True); plt.show()

### Calculate athletes' BMI 

$BMI=\frac{kg}{m^2}$

In [ ]:
sex='M'

In [ ]:
h = df[df.Sex==sex].Height.dropna()/100  # height in meters
sns.kdeplot(h,fill=True); plt.show()

In [ ]:
w = df[df.Sex==sex].Weight.dropna()  # weight in meters
sns.kdeplot(w,fill=True); plt.show()

In [ ]:
from statistics import mean

sns.kdeplot((w/h**2).dropna(),fill=True); plt.show()
print(f"Mean BMI index for althletes of sex {sex} is {mean((w/h**2).dropna()):0.1f}")

***
<font color=red> If time permits...</font>
Try to go through the examples below that query various subsets of data, set different conditions, and perform dataset slicing. 

Also, avoid a VERY common mistake in your writing: "My data are..." not "My data is...". **Data are plural**. Datum is singular.

In [ ]:
means = list(sport_weight_height_metrics.Weight.dropna()['mean'])
sports = list(sport_weight_height_metrics.Weight.dropna().index)

plot_data = sorted(zip(sports, means), key = lambda x:x[1])
plot_data_dict = {
    'x' : [i for i, _ in enumerate(plot_data)],
    'y' : [v[1] for i, v in enumerate(plot_data)],
    'group' :  [v[0] for i, v in enumerate(plot_data)]
}
sns.scatterplot(data = plot_data_dict, x = 'x' , y = 'y')
plt.show()

In [ ]:
print('lightest:')
for sport,weight in plot_data[:5]:
    print(sport + ': ' + str(weight))

print('\nheaviest:')    
for sport,weight in plot_data[-5:]:
    print(sport + ': ' + str(weight))

In [ ]:
means = list(sport_weight_height_metrics.Height.dropna()['mean'])
sports = list(sport_weight_height_metrics.Height.dropna().index)
plot_data = sorted(zip(sports, means), key = lambda x:x[1])
plot_data_dict = {
    'x' : [i for i, _ in enumerate(plot_data)],
    'y' : [v[1] for i, v in enumerate(plot_data)],
    'group' :  [v[0] for i, v in enumerate(plot_data)]
}
sns.scatterplot(data = plot_data_dict, x = 'x' , y = 'y')

In [ ]:
print('shortest:')
for sport,height in plot_data[:5]:
    print(sport + ': ' + str(height))

print('\ntallest:')    
for sport,height in plot_data[-5:]:
    print(sport + ': ' + str(height))

In [ ]:
mean_heights = sport_weight_height_metrics.Height.dropna()['mean']
mean_weights = sport_weight_height_metrics.Weight.dropna()['mean']
avg_build = mean_weights/mean_heights
avg_build.sort_values(ascending = True)
builds = list(avg_build.sort_values(ascending = True))

plot_dict = {'x':[i for i,_ in enumerate(builds)],'y':builds}
sns.lineplot(data=plot_dict, x='x', y='y')

In [ ]:
avg_build.sort_values(ascending=False)

In [ ]:
male_df.groupby('Sport').Year.agg(['min','max'])

In [ ]:
sport_min_year = male_df.groupby('Sport').Year.agg(['min','max'])['min'].sort_values()

year_count = {}
for y in sport_min_year:
    try:
        year_count[y] += 1
    except:
        year_count[y] = 1
year = [k for k,v in year_count.items()]
new_sports = [v for k,v in year_count.items()]

data = {'x':year, 'y':new_sports}
sns.scatterplot(data=data, x = 'x', y='y')
plt.ylabel('New sports added')

In [ ]:
sport_max_year = male_df.groupby('Sport').Year.agg(['min','max'])['max'].sort_values()
year_count = {}
for y in sport_max_year:
    try:
        year_count[y] += 1
    except:
        year_count[y] = 1
year = [k for k,v in year_count.items()]
deprecated_sports = [v for k,v in year_count.items()]

data = {'x':year, 'y':deprecated_sports}
sns.scatterplot(data=data, x = 'x', y='y')
plt.ylabel('Number of sports deprecated')

In [ ]:
sport_max_year[sport_max_year <2000]

In [ ]:
sport_min_year[sport_min_year >1936]

# References

* https://towardsdatascience.com/exploratory-statistical-data-analysis-with-a-real-dataset-using-pandas-208007798b92